

@*Haciendo lo mismo pero creando una tabla con HTML y BOOSTSTRAP*@ 
<table class = "table table-dark table-hover table-sm">
    <thead>
        <tr>
            <th scope = "col">Nombre</th>
            <th scope = "col">ID</th>
        </tr>
    </thead>
    <body>
        @foreach(var obj in Model)
        {
            <tr>
                <td>Nombre: @obj.Nombre</td>
                <td>ID: @obj.Id</td>
            </tr>   
        }
    </body>
</table>  